img {
    width: 40%;
    height: auto;
}

img.detail {
    width: 15%;
    height: auto;
}

header {
    border-bottom: 1px solid red;
    padding: 15px;
    background-color: red;
}

h1 {
    color: green;
}

main {
    padding: 16px;
}

a:hover {
    color: green;
}

a.main:visited {
    color: #FFF;
    text-decoration: none;
    font-weight: normal;
}

a:visited {
    color: green;
    text-decoration: none;
    font-weight: normal;
}

a:link {
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer {
    background-color: lightgreen;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: lightgray;
}
